
a {
	color: #1e90ff;
	cursor: pointer;
	text-decoration: none;

	transition: 0.2s;
}

a:hover {
	color: #66b3ff;
	cursor: pointer;
	text-decoration: none;

	transition: 0.2s;
}

a:visited {
	color: #1e90ff;
	cursor: pointer;
	text-decoration: none;

	transition: 0.2s;
}

a:visited:hover {
	color: #66b3ff;
	cursor: pointer;
	text-decoration: none;

	transition: 0.2s;
}
