:root {
	--primary-background-color: #262626;
	--secondary-background-color: #191919;
	--primary-color: #f5f5f5;
	--secondary-color: #bebebe;
	--tertiary-color: #404040;
	--link-color: #4da6ff;
	--link-hover-color: #80bfff;
	--correct-color: #53c685;
	--incorrect-color: #de5454;
	--button-background-color: #4881ea;
	--button-border-color: #154eb7;
	--button-hover-background-color: #5f91ec;
	--button-play-background-color: #339961;
	--button-play-border-color: #194d30;
	--button-play-hover-background-color: #39ac6d;
}
