:root {
	--primary-background-color: white;
	--secondary-background-color: #fafafa;
	--primary-color: black;
	--secondary-color: gray;
	--tertiary-color: #dcdcdc;
	--link-color: #1e90ff;
	--link-hover-color: #66b3ff;
	--correct-color: #33995f;
	--incorrect-color: #c12525;
	--button-background-color: #6495ed;
	--button-border-color: #1b61e4;
	--button-hover-background-color: #76a0ef;
	--button-play-background-color: #3cb371;
	--button-play-border-color: #267349;
	--button-play-hover-background-color: #40bf79;
}
