
table {
	table-layout: fixed;
	max-width: 100%;
	width: 100%;
	word-wrap: break-word;
}

table tr td {
	font-size: 15pt;
	overflow: hidden;
	width: 50%;
}

table tr .td-german {
	padding: 10px 12px 10px 0px;
	text-align: right;
}

table tr .td-french {
	color: gray;
	padding: 10px 0px 10px 12px;
	text-align: left;
}
