
html, body {
	margin: 0;
}

a {
	color: #1e90ff;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: #66b3ff;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

a:visited {
	color: #1e90ff;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

a:visited:hover {
	color: #66b3ff;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

.navigation-bar {
	position: relative;
	min-height: 96px;
	height: auto;
	width: 100%;
	
	background-color: white;
	outline: solid 1px lightgray;
	
	overflow: hidden;
}

.navigation-bar .container {
	margin: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	text-align: center;
	padding: 0;
}


.navigation-bar .container .logo-description-container {
	margin: 0px 0px 0px 30px;
	float: left;

	height: 48px;
	padding: 0;
}


.navigation-bar .container .logo-description-container .logo {
	border: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	height: 42px;
	margin: 0;
	min-width: unset;
	position: relative;
	top: 3px;
	width: unset;
}

.navigation-bar .container .logo-description-container .description {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	top: -10px;

	font-family: 'Be Vietnam', sans-serif;
	font-size: 12pt;
	color: rgb(150, 150, 150);
}


.navigation-bar .container .list {
	margin: 0px 30px 0px 30px;
	float: right;

	height: 48px;
	padding: 0;
}

.navigation-bar .container .list li {
	background-color: white;

	position: relative;
	display: inline-block;
	top: 8px;

	margin-left: 12px;
	margin-right: 12px;
	padding: 0;
}

.navigation-bar .container .list .link {
	font-family: 'Be Vietnam', sans-serif;
	font-size: 15pt;
}

.navigation-bar .container .list .menu-button {
	display: none;

	margin: 0;
	top: 10px;
}

.navigation-bar .container .list .menu-button .icon {
	font-size: 16pt;
}


@media screen and (max-width: 900px) {
	.navigation-bar .container .logo-description-container {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.navigation-bar .container .logo-description-container .logo { top: 9px; }

	.navigation-bar .container .logo-description-container .description { top: -4px; }

	.navigation-bar .container .list {
		display: block;
		float: none;
		margin: 0 auto;
	}
}


@media screen and (max-width: 600px) {
	.navigation-bar .container .logo-description-container .description { display: none; }

	.navigation-bar .container .list li { display: none; }

	.navigation-bar .container .list .menu-button { display: block; }
}

@media screen and (max-width: 600px) {
	.navigation-bar.responsive { overflow: initial; }

	.navigation-bar.responsive .container {
		position: relative;
		transform: translateY(0%);
	}

	.navigation-bar.responsive .container .list li {
		display: block;
		padding-bottom: 12px;
		text-align: center;

		margin-left: 0px;
		margin-right: 0px;
	}
}
