
#instruction {
	font-size: 15pt;
	margin: 0px 0px 6px 0px;
}

#word {
	margin: 6px 0px 0px 0px;
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#text-input {
	background-color: white;
	border: 0px;
	border-radius: 6px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
	color: black;
	font-size: 17pt;
	margin: 32px 0px 32px 0px;
	min-width: 200px;
	padding: 12px;
	text-align: center;
	width: 42%;
}

#text-input:hover {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

#text-input:focus {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#text-input::placeholder {
	color: gray;
	font-family: inherit;
	font-size: 15pt;
}
