/* === COMMON STYLE === */

:root {
	--navbar-height: 80px;
}

body {
	background-color: var(--secondary-background-color);
	color: var(--primary-color);
	font-family: 'Be Vietnam', sans-serif;
	font-weight: normal;
	margin: var(--navbar-height) 0 0 0;
	padding: 12px;
	text-align: center;
}

p,
pre {
	font-size: 14pt;
}

a,
a:visited {
	color: var(--link-color);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover,
a:visited:hover {
	color: var(--link-hover-color);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}


/* === NAVIGATION BAR STYLE === */

.navigation-bar {
	align-items: center;
	background-color: var(--primary-background-color);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	opacity: 98%;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--navbar-height);
	z-index: 999;
}

.navigation-bar * {
	display: inline;
}

.navigation-bar .logo {
	border: none;
	box-shadow: none;
	cursor: pointer;
	fill: var(--link-color);
	margin: 0 0 0 30px;
	transition: fill 0.2s;
	width: unset;
}

.navigation-bar .logo:hover {
	fill: var(--link-hover-color);
	transition: fill 0.2s;
}

.navigation-bar nav {
	margin: 0 30px 0 auto;
}

.navigation-bar ul {
	margin: 0;
	padding: 0;
}

.navigation-bar li {
	margin: 0 12px;
}

.navigation-bar li a {
	font-size: 15pt;
}

.navigation-bar .li-menu {
	display: none;
	margin: 0;
}

.navigation-bar .li-menu a {
	
	font-size: 16pt;
}

.navigation-bar .theme-switch {
	cursor: pointer;
}

.navigation-bar .theme-switch input {
	display: none;
}

.navigation-bar .theme-switch i {
	color: var(--link-color);
	font-size: 16pt;
	transform: rotate(-20deg);
	transition: color 0.2s;
}

.navigation-bar .theme-switch i:hover {
	color: var(--link-hover-color);
	transition: color 0.2s;
}

@media screen and (max-width: 800px) {
	.navigation-bar {
		flex-direction: column;
		justify-items: center;
	}

	.navigation-bar .logo { margin: 8px 0 0 0; }

	.navigation-bar nav {
		margin: 0;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.navigation-bar li { display: none; }

	.navigation-bar .li-menu { display: inline; }
}

@media screen and (max-width: 600px) {
	.navigation-bar.responsive {
		height: auto;
		opacity: 100%;
	}
	
	.navigation-bar.responsive li:not(.li-menu) {
		display: block;
		margin: 0 auto;
		padding: 8px 0;
	}
}

@media print {
	body {
		margin: 0;
	}

	.navigation-bar {
		box-shadow: none;
		position: relative;
	}

	.navigation-bar .theme-switch {
		display: none;
	}
}


/* === JAVASCRIPT WARNING MESSAGE STYLE === */

#js-warning {
	align-items: center;
	background-color: #d0302d;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	height: fit-content;
	justify-content: center;
	left: 20px;
	padding: 10px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 9999;
}

#js-warning p {
	color: white;
}


/* === MAIN STYLE === */

main {
	margin: 0 auto;
	width: 80%;
}

main section {
	margin: 0px 0px 48px 0px;
}

main small {
	color: var(--secondary-color);
	display: block;
	font-size: 11pt;
	margin: 16px 0px 16px 0px;
}

main small i {
	margin-right: 5px;
}

main h1 {
	font-size: 24pt;
	font-weight: normal;
	margin: 16px 0px 8px 0px;
}

main h2 {
	font-size: 20pt;
	font-weight: normal;
	margin: 16px 0px 8px 0px;
}

main h3 {
	font-size: 18pt;
	font-weight: normal;
	margin: 16px 0px 8px 0px;
}

main img {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	display: block;
	margin: 8px auto 8px auto;
	min-width: 300px;
	width: 40%;
}

main button {
	background-color: var(--button-background-color);
	border: 2px var(--button-border-color);
	border-radius: 8px;
	color: white;
	font-family: inherit;
	font-size: 14pt;
	margin: 12px 0px 12px 0px;
	padding: 10px 20px;
	transition: 0.2s;
}

main button:hover:not(:disabled) {
	background-color: var(--button-hover-background-color);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: 0.2s;
}

main button:focus {
	outline: none;
}

main button:disabled {
	cursor: no-drop;
	opacity: 0.4;
	transition: none;
}

main button i {
	margin-right: 10px;
}

main .new {
	color: var(--new-text-color);
	font-size: 10pt;
	margin: 0 0 6px 0;
	position: relative;
	top: -6px;
}

/* Div used in index.html to display one theme's name and buttons */
main .theme-container {
	margin: 24px 0px 24px 0px;
}

main .theme-container .button-play {
	background-color: var(--button-play-background-color);
	border: 2px var(--button-play-border-color);;
}

main .theme-container .button-play:hover {
	background-color: var(--button-play-hover-background-color);;
}

/* --- list.html style --- */

main table {
	table-layout: fixed;
	max-width: 100%;
	width: 100%;
	word-wrap: break-word;
}

main table tr td {
	font-size: 15pt;
	overflow: hidden;
	width: 50%;
}

main table tr .td-german {
	padding: 10px 12px 10px 0px;
	text-align: right;
}

main table tr .td-french {
	color: var(--secondary-color);
	padding: 10px 0px 10px 12px;
	text-align: left;
}

/* --- play.html style --- */

main input[type=text] {
	background-color: var(--primary-background-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 8px;
	box-shadow: 0;
	color: var(--primary-color);
	cursor: text;
	font-family: inherit;
	font-size: 17pt;
	margin: 32px 0px 32px 0px;
	padding: 12px;
	text-align: center;
}

main input[type=text]:hover {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

main input[type=text]:focus {
	border: 1px solid var(--secondary-color);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	outline: 0;
}

main input[type=text]::placeholder {
	color: var(--secondary-color);
	font-family: inherit;
	font-size: 15pt;
	opacity: 0.7;
}

main .quiz-instruction {
	font-size: 15pt;
	margin-bottom: 6px;
}

main .quiz-instruction.correct {
	color: var(--correct-color);
}

main .quiz-instruction.incorrect {
	color: var(--incorrect-color);
}

main .quiz-word {
	margin: 6px 0px 0px 0px;
}

main .quiz-word.correct {
	color: var(--correct-color);
}

main .quiz-word.incorrect {
	color: var(--incorrect-color);
}

main #quiz-text-input {
	min-width: 200px;
	width: 42%;
}

main #results-container {
	animation: showResultsContainer 0.3s normal;
	animation-timing-function: ease-out;
	display: none;
}

@keyframes showResultsContainer {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

main #results-yourscoreis {
	font-size: 15pt;
	margin-bottom: 0;
}

main #results-score {
	margin: 6px 0px 32px 0px;
}
